<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luboganev.cloudwave"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />

    <uses-feature android:name="android.software.live_wallpaper" />

    <!-- Used by SoundCloud SDK and the functionality which downloads the sound wave images -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Used by CommunicationUtils for checking connection status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/wallpapers"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.luboganev.cloudwave.CloudWaveWallpaper"
            android:label="@string/cloudwave"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/cloudwave" />
        </service>

        <activity
            android:name="com.luboganev.cloudwave.CloudWaveSettings"
            android:exported="true"
            android:label="@string/cloudwave_settings"
            android:theme="@android:style/Theme.Light.WallpaperSettings" >
        </activity>
        <activity
            android:name="com.luboganev.cloudwave.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.luboganev.cloudwave.remote.SoundCloudApiService" >
        </service>

        <receiver
            android:name=".remote.ConnectivityChangeReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>