<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luboganev.cloudwave"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="18" />
    
    <uses-feature android:name="android.software.live_wallpaper" />

    <!-- Needed by CommunicationUtils to communicate over HTTP with SoundCloud API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Needed by CommunicationUtils for checking connection status -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- Needed when starting ChangeWallpaperService from AlarmReceiver or 
    ConnectivityChangeReceiver in order to make sure the necessary work is 
    done before going back to sleep -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/wallpapers"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.luboganev.cloudwave.CloudWaveWallpaper"
            android:label="@string/cloudwave"
            android:permission="android.permission.BIND_WALLPAPER" >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/cloudwave" />
        </service>
        
        <service android:name="com.luboganev.cloudwave.service.ChangeWallpaperService" >
        </service>
		
		<receiver android:name="com.luboganev.cloudwave.receivers.AlarmReceiver"/>

        <receiver
            android:name="com.luboganev.cloudwave.receivers.ConnectivityChangeReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        
    </application>

</manifest>